header{
	width: 960px;
	height: 120px;
	margin: auto;
	clear:both;
	border: solid #ABC18C 1px;
	margin-bottom: 20px;
	padding:5px;
}

header h1 {
	width: 70%;
	margin: auto;
	text-align: center;
}

header ul{
  width: 500px;
  margin: auto;

  margin-top: 10px;
}

header ul li{
  width: 50px;
  padding: 5px;
  margin: 5px;

}

header ul li a{
 padding: 5px;
 background: #93ACC8;
 color: white;
 text-decoration:none;
}

header ul li a:hover{
 background: #ABC18C;
}

footer {
	width: 960px;
	height: 100px;
	margin: auto;
	clear:both;
	border: solid #ABC18C 1px;
	margin-top:20px;
	padding:5px;
}

footer p {
	width: 70%;
	
	margin: auto;
	text-align: center;
	
}

#contenido{
	width: 960px;

	margin: auto;
	clear:both;
	border: solid #ABC18C 1px;
	padding:5px;
	
}

#contenido p{
	width:90%;
	margin:auto;
}

#contenido h2{
	width:90%;
	text-align:center;
	margin:auto;
}



#calendario {
	font-family:Arial;
	font-size:12px;
	margin:auto;
}

#calendario caption {
		text-align:center;
		padding:5px 10px;
		background-color:#93ACC8;
		color:#fff;
		font-weight:bold; 
		font-size: 2em;
} 

#calendario th { background-color:#006699; color:#fff; width:80px; } 
#calendario td { text-align:right; padding:4px 5px; background-color:#D8D8D8; } 
#calendario .hoy { background-color:#ABC18C; } 

